<div class="row">
  <div class="col-md-3">
    <form role="form" class="well" name="$ctrl.filterForm">
      <legend>Filter Restaurants</legend>
      <div class="form-group">
        <label for="priceFilter" class="control-label">
           Price (no more than)</label>
        <fm-rating rating="$ctrl.filters.price" glyph="gbp"></fm-rating>
      </div>
      <div class="form-group">
        <label for="ratingFilter" class="control-label">
           Rating (at least)</label>
        <fm-rating rating="$ctrl.filters.rating" glyph="star"></fm-rating>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <div class="alert alert-info" role="alert">
      {{ $ctrl.filteredRestaurants.length, plural,
        =0 {No restaurants found!}
        =1 {Only one restaurant found!}
        other {# restaurants found.}
      }}
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><a href ng-click="$ctrl.sortBy('name')">Name <span ng-class="$ctrl.getSortClass('name')"></span></a></th>
        <th><a href ng-click="$ctrl.sortBy('price')">Price <span ng-class="$ctrl.getSortClass('price')"></span></a></th>
        <th><a href ng-click="$ctrl.sortBy('rating')">Rating <span ng-class="$ctrl.getSortClass('rating')"></span></a></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="restaurant in $ctrl.filteredRestaurants | orderBy : $ctrl.sortProperty : $ctrl.sortDirection">
          <td class="description">
            <div class="media">
              <a class="pull-left">
                <img class="img-rounded"
                    ng-src="assets/img/restaurants/{{restaurant.id}}.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{restaurant.name}}</h4>
                <p>{{restaurant.description}}</p>
              </div>
            </div>
          </td>
          <td class="price">
            {{restaurant.price | rating : '£'}}
          </td>
          <td class="rating">
            {{restaurant.rating | rating : '*'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>