<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular FoodMe</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap-cerulean.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script>
  <script src="dist/app.js"></script>
</head>
<body class="container" ng-app="app" ng-controller="AppController as app">

  <!-- Navigation Bar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">FoodMe</a>
    </div>
  </div>


  <!-- Delivery Info Form -->
  <div class="row" ng-show="app.deliveryFormVisible">
    <div class="col-md-12">
      <form role="form" class="well" name="app.deliveryForm">
        <a href="" class="pull-right" ng-click="app.hideDeliveryForm()">Hide</a>
        <legend>Delivery Details</legend>
        <div class="form-group" ng-class="{'has-error': app.deliveryForm.userName.$invalid}">
          <label for="customerName" class="control-label">Name</label>
          <input type="text" id="customerName" class="form-control" ng-model="app.user.name" name="userName" required ng-minlength="5">
        </div>
        <div ng-messages="app.deliveryForm.userName.$error">
          <div ng-message="required" class="alert alert-warning" role="alert">You must enter a name.</div>
          <div ng-message="minlength" class="alert alert-warning" role="alert">Your name must be at least 5 characters long.</div>
        </div>
        <div class="form-group" ng-class="{'has-error': app.deliveryForm.userAddress.$invalid}">
          <label for="address" class="control-label">Address</label>
          <input type="text" id="address" class="form-control" ng-model="app.user.address" name="userAddress" required ng-minlength="10">
        </div>
        <div ng-messages="app.deliveryForm.userAddress.$error">
          <div ng-message="required" class="alert alert-warning" role="alert">You must enter an address.</div>
          <div ng-message="minlength" class="alert alert-warning" role="alert">Your address must be at least 10 characters long.</div>
        </div>
      </form>
    </div>
  </div>


  <!-- Delivery Info -->
  <fm-delivery-info
      user="app.user"
      on-edit-user="app.showDeliveryForm()"
      ng-hide="app.deliveryFormVisible">
  </fm-delivery-info>




  <!-- Restaurant List -->
  <fm-restaurant-list></fm-restaurant-list>

</body>
</html>