<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular FoodMe</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../shared/css/bootstrap-cerulean.css">
  <link rel="stylesheet" href="../shared/css/app.css">
  <script src="../shared/js/angular.js"></script>
  <script src="app.js"></script>
</head>
<body class="container" ng-app="app" ng-controller="AppController as app">

  <!-- Navigation Bar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">FoodMe</a>
    </div>
  </div>


  <!-- Delivery Info Form -->
  <div class="row" ng-show="app.deliveryForm.visible">
    <div class="col-md-12">
      <form role="form" class="well">
        <a href="" class="pull-right" ng-click="app.hideDeliveryForm()">Hide</a>
        <legend>Delivery Details</legend>
        <div class="form-group">
          <label for="customerName" class="control-label">Name</label>
          <input type="text" id="customerName" class="form-control" ng-model="app.user.name">
        </div>
        <div class="form-group">
          <label for="address" class="control-label">Address</label>
          <input type="text" id="address" class="form-control" ng-model="app.user.address">
        </div>
      </form>
    </div>
  </div>


  <!-- Delivery Info -->
  <div class="row" ng-hide="app.deliveryForm.visible">
    <div class="col-md-12">
      <div class="well">
        <a href="" class="pull-right" ng-click="app.showDeliveryForm()">Change</a>
        <strong>Deliver to:</strong><br>
        {{ app.user.name }}<br>
        {{ app.user.address }}
      </div>
    </div>
  </div>



  <!-- Restaurant List -->

</body>
</html>