<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular FoodMe</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap-cerulean.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="dist/app.js"></script>
</head>
<body class="container" ng-app="app" ng-controller="AppController as app">

  <!-- Navigation Bar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">FoodMe</a>
    </div>
  </div>


  <!-- Delivery Info Form -->
  <div class="row" ng-show="app.deliveryFormVisible">
    <div class="col-md-12">
      <form role="form" class="well">
        <a href="" class="pull-right" ng-click="app.hideDeliveryForm()">Hide</a>
        <legend>Delivery Details</legend>
        <div class="form-group">
          <label for="customerName" class="control-label">Name</label>
          <input type="text" id="customerName" class="form-control" ng-model="app.user.name">
        </div>
        <div class="form-group">
          <label for="address" class="control-label">Address</label>
          <input type="text" id="address" class="form-control" ng-model="app.user.address">
        </div>
      </form>
    </div>
  </div>


  <!-- Delivery Info -->
  <fm-delivery-info
      user="app.user"
      on-edit-user="app.showDeliveryForm()"
      ng-hide="app.deliveryFormVisible">
  </fm-delivery-info>



  <!-- Restaurant List -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><a href>Name</a></th>
          <th><a href>Price </a></th>
          <th><a href>Rating </a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="restaurant in app.restaurants">
          <td class="description">
            <div class="media">
              <a class="pull-left">
                <img class="img-rounded" ng-src="assets/img/restaurants/{{restaurant.id}}.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{restaurant.name}}</h4>
                <p>{{restaurant.description}}</p>
              </div>
            </div>
          </td>
          <td class="price">
            {{restaurant.price}}
          </td>
          <td class="rating">
            {{restaurant.rating}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>